html, body {
 margin: 0px;
 padding:0px; 
 background-color: #ffffff; 
 background-image: url(bg.jpg); 
 background-repeat: repeat-y;
 font-size: 10px;
 line-height: 12px;
 font-family: tahoma, sans-serif;
 color: #000000;
 overflow-x:hidden;
}

img {border: 0px}

.square {width: 11px; height: 11px; background-image: url(http://insatiable-lust.net/topsites/skins/Default/images/s1.jpg);}


.imgback {background-color: #7590ae;}

form {
 margin: 0px;
 padding:0px;
}

input, select, textarea {
 background-color: #7590ae;
 color: #c6d1de; 
 font-size: 10px;
 line-height: 12px;
 font-family: tahoma, sans-serif;
 border: 2px solid #c6d1de;
}

a:link, a:visited {
 color: #7590ae;
 font-weight: bold;
 text-decoration: none;
}
a:active, a:hover {
 color: #c6d1de;
 font-weight: bold;
 text-decoration: none;
 text-transform: uppercase;
}

a.menu:link, a.menu:visited {
 color: #c6d1de;
 font-weight: bold;
 text-decoration: none;
}
a.menu:active, a.menu:hover {
 color: #3d5c7a;
 font-weight: bold;
 text-decoration: none;
}


.header {
width: 680px; 
height: 115px; 
position:absolute; 
left:50px; 
top:0px;
background-color: #3d5c7a;
}

.header2 {
width: 680px; 
position:absolute; 
left:0px; 
top:25px;
}

.title {
font-size: 32px; 
line-height: 34px; 
font-family: verdana, sans-serif; 
color: #c6d1de; 
font-weight: bold
}

.slogan {
font-size: 16px;
line-height: 18px;
font-family:verdana, sans-serif; 
color: #7590ae; 
font-weight: bold
}

.nav {
width: 680px;
height: 40px; 
position:absolute; 
left:50px; 
top:115px; 
background-color: #7590ae;
text-transform: uppercase;
}

.browse {
width: 680px; 
height: 30px; 
position:absolute; 
left:50px; 
top:155px;
background-color: #3d5c7a;
}

.browse2 {
width: 680px; 
position:absolute; 
left:130px; 
top:5px;
}

.main {
width: 680px; 
position:absolute; 
left:50px; 
top:185px;
}

.bottom {
text-align: center; 
background-color: #7590ae; 
color: #c6d1de; 
border-bottom: 4px solid #7590ae
}

.bottom2 {
text-align: center; 
background-color: #3d5c7a; 
border: 10px solid #3d5c7a
}


.maintable {
border-collapse: collapse; 
width: 100%; 
height:100%;
padding:0px; 
margin:0px; 
border-top: 5px solid #7590ae; 
border-bottom: 5px solid #7590ae;
}

.titlerow {
background-color: #7590ae; 
color: #c6d1de; 
font-weight: bold; 
text-align: center; text-transform: uppercase;
}

.hits {
color: #3d5c7a; 
font-weight: bold; 
font-size: 18px; 
line-height: 20px; 
text-align: center;  
border-top: 5px solid #7590ae;
background-color: #ffffff; 
}

.hits2 {
color: #3d5c7a; 
font-weight: bold; 
font-size: 18px; 
line-height: 20px; 
text-align: center; border-top: 5px solid #7590ae; 
border-right: 2px solid #7590ae; 
background-color: #ffffff;
}

.rank {
color: #3d5c7a; 
font-weight: bold; 
font-size: 45px; 
line-height: 50px; 
text-align: center; 
border-top: 5px solid #7590ae; 
background-color: #ffffff;
}

.rank2, .site  {
border-top: 5px solid #7590ae; 
border-right: 3px solid #7590ae;  
background-color: #ffffff;
text-align: center; 
}

.tborder {border-top: 5px solid #7590ae; background-color: #ffffff;}
