body {
  background-color: #fff;
  color: #000;
  font-size: 13px;
  font-family: verdana, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
form {
  margin: 0px;
  padding: 0px;
}
input, select {

  font-size: 10px;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}
h3 {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
a:link {
  color: #33c;
  font-weight: bold;
  text-decoration: underline;
}
a:visited {
  color: #4040ff;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}
a:hover {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

.bottom {
  color: #737373;
  font-size: 10px;
  text-align: center;
}

.graph {
  background-color: #069;
  padding: 0px;
  width: 75px;
}

/* For the ranking tables. */

.darkbg {
  background-color: #737373;
  color: #fff;
}

.mediumbg {
  background-color: #09c;
  background-image: url(grad_bg.png);
  color: #fff;
}

.lightbg {
  background-color: #fff;
  color: #000;
}
.lightbgalt {
  background-color: #f0f0f0;
  color: #000;
}

/* For the menu. */

a.menu, a.menu:visited {
  background-color: #fff;
  border: 1px solid #737373;
  color: #000;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 2px;
  padding: 3px;
  text-align: center;
  text-decoration: none;
}
a.menu:hover, a.menu:active {
  color: #fff;
  background-color: #09c;
  background-image: url(grad_bg.png);
  text-decoration: none;
}

a.table_top {
  color: #fff;
  text-decoration: underline;
}
a.table_top:hover, a.table_top:active {
  color: #c0c0c0;
  text-decoration: none;
}